<div *ngIf="isLoading" class="flex items-center justify-center h-screen">
    <div class="animate-spin rounded-full border-t-4 border-blue-500 border-t-blue-500 border-gray-200 h-12 w-12"></div>
  </div>
<div *ngIf="productDetail && productDetail.length > 0">
    <div *ngIf="editing; else edit" >
        <form [formGroup]="productForm" (ngSubmit)="update(productDetail[0].productId)">
            <div class="flex flex-wrap items-center px-4 py-2">
                <div class="relative w-full max-w-full flex-grow flex-1">
                <button class="bg-blue-500 dark:bg-gray-100 text-white active:bg-blue-600 dark:text-gray-800 dark:active:text-gray-700 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="submit">Update</button>
                </div>
            </div>
            <div class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                Name: {{ productDetail[0].name }} 
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                Description: <textarea formControlName="description" type="text"  [value]="productDetail[0].description"></textarea>
                </p>
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                Material: <input formControlName="material" type="text" value="{{productDetail[0].material}}">
                </p>
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                    Price: <input  formControlName="price" type="text" value="{{productDetail[0].price}}">
                </p>
               
            </div>
        </form>
    </div>
    <ng-template #edit>
        <div class="flex flex-wrap items-center px-4 py-2">
            <div class="relative w-full max-w-full flex-grow flex-1">
            <button (click)="editProduct(productDetail[0].productId)" class="bg-blue-500 dark:bg-gray-100 text-white active:bg-blue-600 dark:text-gray-800 dark:active:text-gray-700 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button">Edit</button>
            </div>
        </div>
            <div class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
                Name: {{ productDetail[0].name }} 
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                Description: {{productDetail[0].description}}
                </p>
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                Material: {{productDetail[0].material}}
                </p>
                <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                    Price: {{productDetail[0].price}}
                </p>
            </div>
    </ng-template>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="p-4">
                        <div class="flex items-center">
                            <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                            <label for="checkbox-all-search" class="sr-only">checkbox</label>
                        </div>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Color
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Size
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Quantity
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Sold
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Remain
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Discount
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Status
                    </th>
                    
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
           
                <tbody>
                    <tr *ngFor="let product of productDetail" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        
                        <ng-container *ngIf="!(editingDetail && productDetail1?.productId == product.productId && productDetail1?.color == product.color  && productDetail1?.size == product.size); else notEdit">
                            <td class="w-4 p-4">
                                <div class="flex items-center">
                                    <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                    <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                </div>
                            </td>
                            <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                <img class="w-20 h-20" src="{{product.image}}" alt="Jese image">
                                <div class="ps-3">
                                    <div class="text-base font-semibold">{{product.color}}</div>
                                </div>  
                            </td>
                            <td class="px-6 py-4">
                             {{product.size}}
                            </td>
                            <td class="px-6 py-4">
                                {{product.quantity}}
                            </td>
                            <td class="px-6 py-4">
                                {{product.sold}}
                            </td>
                            <td class="px-6 py-4">
                                {{product.remain}}
                            </td>
                            <td class="px-6 py-4">
                                {{product.discount}}
                            </td>
                            <td class="px-6 py-4">
                                <div class="text-red-500" *ngIf="product.remain==0; else inStock">Out of stock</div>
                                <ng-template #inStock><div class="text-green-500">In stock</div> </ng-template>
                            </td>
                            <td class="px-6 py-4">
                                <button type="button" class="bg-orange-400 text-white px-4 py-2 rounded-md w-20" (click)="editProductDetail(product.productId, product.size, product.color)">Edit</button>
                                <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-md w-20" (click)="openDeleteModal(product.productId, product.size, product.color)">Delete</button>
                            </td>
                        </ng-container>
                        <div *ngIf="showModal" class="fixed inset-0 bg-gray-500 bg-opacity-30 flex items-center justify-center">
                            <div class="bg-white p-8 rounded shadow-md">
                              <div class="text-xl mb-4">Confirm Deletion</div>
                              <div>Are you sure you want to delete {{product.name}}, {{product.color}}, {{product.size}}</div>
                              <div class="mt-4 flex justify-end">
                                <button class="bg-gray-300 px-4 py-2 mr-2" (click)="cancelDelete()">Cancel</button>
                                <button class="bg-red-500 text-white px-4 py-2" (click)="confirmDelete(product.productId, product.size, product.color)">Delete</button>
                              </div>
                            </div>
                          </div>
                        <ng-template #notEdit>
                            <ng-container [formGroup]="productFormDetail">
                                <!-- {{productFormDetail.value.quantity}} -->
                                <td class="w-4 p-4">
                                    <div class="flex items-center">
                                        <input id="checkbox-table-search-1" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                        <label for="checkbox-table-search-1" class="sr-only">checkbox</label>
                                    </div>
                                </td>
                                <td scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white">
                                    <img class="w-20 h-20" src="{{product.image}}" alt="Jese image">
                                    <div class="ps-3">
                                        <div class="text-base font-semibold">{{product.color}}</div>
                                    </div>  
                                </td>
                                <td class="px-6 py-4">
                                     {{product.size}}
                                </td>
                                <td class="px-6 py-4">
                                    <input formControlName="quantity" class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500" type="text" value="{{product.quantity}}"/>
                                </td>
                                <td class="px-6 py-4">
                                    <input formControlName="sold" class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500" type="text" value="{{product.sold}}"/>
                                </td>
                                <td class="px-6 py-4">
                                    {{product.remain}}
                                </td>
                                <td class="px-6 py-4">
                                    <input formControlName="discount" class="border border-gray-300 p-2 rounded-md focus:outline-none focus:border-blue-500" type="text" value="{{product.discount}}"/>
                                </td>
                                <td class="px-6 py-4">
                                    <div class="text-red-500" *ngIf="product.remain==0; else inStock">Out of stock</div>
                                    <ng-template #inStock><div class="text-green-500">In stock</div> </ng-template>
                                </td>
                                <td class="px-6 py-4">
                                    <button type="submit" class="bg-green-400 text-white px-4 py-2 rounded-md w-20" (click)="updateDetail()">Update</button>
                                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md w-20" (click)="cancel()">Cancel</button>
                                </td>
                            </ng-container>
                        </ng-template>
                        
                         
                    </tr>
                </tbody>
           
        </table>
       
        
    </div>
    
    
</div>
