<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisbank.mapper.ColorMapper">
    <insert id="insertColor" parameterType="com.fisbank.dto.model.Color">
        INSERT INTO product_color (name, product_id)
        VALUES (#{name}, #{productId})
    </insert>

</mapper>