<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisbank.mapper.ProductMapper">
    <update id="updateProduct">
        update product
        set
           price=#{price},
           description=#{description},
           material=#{material}
        where product_id=#{productId}
    </update>
    <update id="updateProductDetail">
        update product
        set
            discount=#{discount},
            quantity=#{quantity},
            sold=#{sold},
            remain=#{quantity}-#{sold}
        where product_id=#{productId} and size_id=#{sizeId} and color_id=#{colorId}

    </update>
    <update id="deleteProduct">
        update product
        set
            status=1
        where product_id=#{productId}
    </update>

    <update id="deleteProductDetail">
        update product
        set
            status=1
        where product_id=#{productId} and size_id=#{sizeId} and color_id=#{colorId}
    </update>
    <select id="checkProductExist" resultType="java.lang.Integer">
        select count(*) from product
                        where name=#{name}
                          and color_id=#{colorId}
                          and category_id = #{categoryId}
                          and size_id=#{sizeId}
    </select>
    <insert id="insertProduct">
        insert into product(
            "product_id",
            "name",
            "description",
            "rate",
            "material",
            "category_id",
            "price",
            "quantity",
            "sold",
            "remain",
            "color_id",
            "size_id",
            "image",
            "discount",
            "created_at",
            "updated_at",
            "status"
        )
        values(
                #{productId},
                  #{name},
                  #{description},
                  #{rate},
                  #{material},
                  #{categoryId},
                  #{price},
                  #{quantity},
                  0,
                  #{quantity},
                  #{colorId},
                  #{sizeId},
                  #{image},
                    0,
                  Now(),
                  Now(),
                    0

              )
    </insert>
    <select id="getListProduct" resultType="com.fisbank.dto.response.ProductResponse">
        SELECT product_id, name, description, sum(quantity) as quantity, SUM(sold) as sold, sum(remain) as remain, price, COUNT(*) AS totalRecords
        FROM product
        WHERE status != 1
         <if test="keyword!=null and keyword!=''">
             AND
             (product.name = #{keyword} OR product.description = #{keyword} OR product.material = #{keyword})
         </if>
        GROUP BY product_id, name, description, price
        <if test="limit > 0">
            OFFSET (#{page} - 1) * #{limit} FETCH NEXT #{limit} ROWS ONLY
        </if>
    </select>

<!--    <select id="getListProduct" resultType="com.fisbank.dto.response.ProductResponse">-->
<!--        Select product_id, name, description, sum(quantity) as quantity, SUM(sold) as sold, sum(remain) as remain, price, COUNT(*) AS totalRecords-->
<!--        from product-->
<!--        <where>-->
<!--            status!=1 AND (product.name = #{name} OR product.description = #{keyword} OR product.material = #{keyword} OR product.price = #{keyword})-->
<!--        </where>-->
<!--        group by product_id, name, description, price-->
<!--        <if test="limit > 0">-->
<!--            OFFSET (#{page} - 1) * #{limit} FETCH NEXT #{limit} ROWS ONLY-->
<!--        </if>-->
<!--    </select>-->


    <select id="totalProduct" resultType="java.lang.Integer">
        select count(distinct (name)) from product where status!=1
    </select>
    <select id="getListProductDetail" resultType="com.fisbank.dto.response.ProductDetailResponse">
        SELECT p.product_id,p.name, p.color_id, p.size_id, p.price, p.description, p.rate, p.material, p.quantity , p.sold ,p.remain, p.discount , c."name" as color , s.name as size, p.image, cg.name as category
        FROM product p
                 JOIN color c ON p.color_id = c.id
                 join size s on p.size_id = s.id
                join category cg on p.category_id = cg.id
        WHERE (p.name = #{name} or p.product_id = #{productId}) and status!=1
        order by p.color_id
        <if test="limit > 0">
            OFFSET (#{page} - 1) * #{limit} FETCH NEXT #{limit} ROWS ONLY
        </if>
    </select>
    <select id="getItemDetail" resultType="com.fisbank.dto.response.ProductDetailResponse">
        SELECT p.product_id,p.name, p.price, p.description, p.rate, p.material, p.quantity , p.sold ,p.remain , c."name" as color , s.name as size, p.image, cg.name as category
        FROM product p
            JOIN color c ON p.color_id = c.id
            join size s on p.size_id = s.id
            join category cg on p.category_id = cg.id
        WHERE p.product_id = #{productId} and p.color_id=#{colorId} and p.size_id = #{sizeId}
        limit 1
    </select>

    <!--    <select id="getNextIdProduct" resultType="java.lang.Integer">-->
<!--        select * from product order by id desc limit 1-->
<!--    </select>-->
<!--    <select id="getNextIdColor" resultType="java.lang.Integer">-->
<!--        select * from product_color order by id desc  limit 1-->
<!--    </select>-->


</mapper>