<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisbank.mapper.ProductMapper">


    <insert id="addNewProduct">
        insert into
            product(
                    "id",
                    "name",
                    "description",
                    "rate",
                    "material",
                    "category_id",

                    "created_at",
                    "updated_at")
        values(
               #{id},
               #{name},
               #{description},
               #{rate},
               #{material},
               #{categoryId},
               Now(),
               Now()
              )
    </insert>
    <select id="checkProductExist" resultType="java.lang.Integer">
        select count(*) from product where name=#{name} and id!=#{id}
    </select>
    <select id="getNextIdProduct" resultType="java.lang.Integer">
        select * from product order by id desc limit 1
    </select>
    <select id="totalProduct" resultType="java.lang.Integer">
        select count(*) from product
    </select>
    <select id="getListProduct" resultType="com.fisbank.dto.response.ProductResponse">
        select * from product where is_deleted=0
    </select>


</mapper>