<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fisbank.mapper.SizeMapper">
    <insert id="insertSize" parameterType="com.fisbank.dto.model.Size">
        INSERT INTO size (size, quantity, sold, remain, color_id)
        VALUES (#{size}, #{quantity}, #{sold}, #{remain}, #{colorId})
    </insert>
</mapper>