<div class="relative overflow-x-auto shadow-md sm:rounded-lg p-4">
    <div [formGroup]="form" class="pb-4 bg-white dark:bg-gray-900">
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative mt-1">
          <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
              <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
              </svg>
          </div>
          <input type="text" (keyup)="search()" formControlName="keyword" id="table-search" class="block pt-2 pb-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
          
        </div>
        <div class="mt-4 flex justify-end">
          <button class="bg-blue-500 text-white px-4 py-2" (click)="exportFile('pdf')">Export</button>
        </div>
        <div>
          <label for="size" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Format</label>
          <select formControlName="format" id="size" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
            <option value="pdf">pdf</option>
            <option value="html">html</option>
            <option value="csv">csv</option>
            <option value="excel">excel</option>
            
          </select>
        </div>
  </div>
  
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="p-4">
                    <div class="flex items-center">
                        <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-all-search" class="sr-only">checkbox</label>
                    </div>
                </th>
                <th scope="col" class="px-6 py-3">
                    Product name
                </th>
                <!-- <th scope="col" class="px-6 py-3">
                    Price
                </th> -->
                <th scope="col" class="px-6 py-3">
                    Quantity
                </th>
                <th scope="col" class="px-6 py-3">
                    Sold
                </th>
                <th scope="col" class="px-6 py-3">
                    Remain
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productList.data"  class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class="w-4 p-4">
                    <div class="flex items-center">
                        <input id="checkbox-table-search-{{ product.name }}" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                        <label for="checkbox-table-search-{{ product.name }}" class="sr-only">checkbox</label>
                    </div>
                </td>
                <td  (click)="navigateTo('dashboard/product/product-detail/'+product.productId)"   class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{ product.name }}
                </td>
               
                <td class="px-6 py-4">
                    {{ product.quantity }}
                </td>
                <!-- <td class="px-6 py-4">
                    {{ product.price }}
                </td> -->
                <td class="px-6 py-4">
                    {{ product.sold }}
                </td>
                <td class="px-6 py-4">
                    {{ product.remain }}
                </td>
                <td class="px-6 py-4">
                    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-md w-20" (click)="openDeleteModal(product.productId)">Delete</button>
                </td>

                <div *ngIf="showModal" class="fixed inset-0 bg-gray-500 bg-opacity-20 flex items-center justify-center">
                    <div class="bg-white p-8 rounded shadow-md">
                      <div class="text-xl mb-4">Confirm Deletion</div>
                      <div>Are you sure you want to delete {{selectedProduct.name}}</div>
                      <div class="mt-4 flex justify-end">
                        <button class="bg-gray-300 px-4 py-2 mr-2" (click)="cancelDelete()">Cancel</button>
                        <button class="bg-red-500 text-white px-4 py-2" (click)="confirmDelete(product.productId)">Delete</button>
                      </div>
                    </div>
                </div>
              
            </tr>
        </tbody>
    </table>
    <div class="flex items-center justify-between col-span-12 mt-4">

        <div class="flex items-center space-x-2">
          <span class="text-gray-600">Showing</span>
          <span class="font-medium">{{ totalSize === 0 ? 0 : (pageNumber - 1) * pageSize + 1 }}</span>
          <span class="text-gray-600">to</span>
          <span class="font-medium">{{ (pageNumber * pageSize < totalSize) ? (pageNumber * pageSize) : totalSize }}</span>
          <span class="text-gray-600">of</span>
          <span class="font-medium">{{ totalSize }}</span>
        </div>
      
        <div class="flex items-center space-x-4">
      
          <!-- Previous button -->
          <button
            [disabled]="pageNumber === 1"
            (click)="changePage(pageNumber - 1)"
            class="px-3 py-1 text-sm font-medium text-gray-600 bg-white border border-gray-300 rounded hover:bg-gray-100 focus:outline-none focus:ring focus:border-blue-300 disabled:opacity-50"
          >
            Previous
          </button>
      
          <!-- Page numbers -->
          <div class="flex space-x-2">
            <button
              *ngFor="let page of pages"
              [class.bg-blue-500]="page === pageNumber"
              (click)="changePage1(page, pageNumber)"
              class="px-3 py-1 text-sm font-medium text-gray-600 bg-white border border-gray-300 rounded hover:bg-gray-100 focus:outline-none focus:ring focus:border-blue-300"
            >
              {{ page }}
            </button>
          </div>
      
          <!-- Next button -->
          <button
            [disabled]="pageNumber === totalPages"
            (click)="changePage(pageNumber + 1)"
            class="px-3 py-1 text-sm font-medium text-gray-600 bg-white border border-gray-300 rounded hover:bg-gray-100 focus:outline-none focus:ring focus:border-blue-300 disabled:opacity-50"
          >
            Next
          </button>
      
        </div>
      </div>
      
      
      
</div>
